In [0]:
from google.colab import files

In [0]:
import numpy as np
import pandas as pd

In [0]:
# f = files.upload()

In [0]:
movies = pd.read_csv('movies.csv',encoding='latin1')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv',encoding='latin1')

In [219]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [220]:
ratings.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

In [221]:
tags.head()

   movieId  userId           tag   timestamp
0     3916   12882        sports  1147195545
1     4085   12882  Eddie Murphy  1147195966
2    33660   12882        boxing  1147195514
3     1197     320     must show  1145964801
4     1396     320     must show  1145964810

In [222]:
#computing mean ratings of every user
Mean = ratings.groupby(by="userId", as_index=False)['rating'].mean()
ratings_new = pd.merge(ratings,Mean,on='userId')
ratings_new.head()

   userId  movieId  rating_x   timestamp  rating_y
0   12882        1       4.0  1147195252  4.061321
1   12882       32       3.5  1147195307  4.061321
2   12882       47       5.0  1147195343  4.061321
3   12882       50       5.0  1147185499  4.061321
4   12882      110       4.5  1147195239  4.061321

In [223]:
#predicting the number of movies the user has rated and the number of movies which have got higher number of ratings
ratings['usr_size']=None
ratings['mov_size']=None

#removing the movies having less than 50 ratings and number of users who have rated less than 50 movies
ratings['usr_size']=ratings[ratings['rating']>=0.0].groupby('userId').transform(np.size)
ratings['mov_size']=ratings[ratings['rating']>=0.0].groupby('movieId').transform(np.size)
pop_movs = ratings[(ratings['mov_size']>=50) & (ratings['usr_size']>=50)]
display(pop_movs)

        userId  movieId  rating   timestamp  usr_size  mov_size
0        12882        1     4.0  1147195252       106       496
1        12882       32     3.5  1147195307       106       424
2        12882       47     5.0  1147195343       106       452
3        12882       50     5.0  1147185499       106       454
4        12882      110     4.5  1147195239       106       477
...        ...      ...     ...         ...       ...       ...
264500   90097    54286     5.0  1336143258        82       287
264501   90097    60069     4.5  1336144698        82       335
264502   90097    68358     5.0  1336144031        82       263
264503   90097    68954     5.0  1336146596        82       271
264504   90097    73017     4.0  1336148879        82       201

[237008 rows x 6 columns]

In [224]:
#making pivot table for users and movies
user_movie_mat = pop_movs.pivot(index='userId', columns='movieId',values='rating').fillna(0)
display(user_movie_mat.head())

movieId  1       2       3       5       ...  111362  111759  112556  112852
userId                                   ...
316         2.5     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
320         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
359         5.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
370         4.5     4.0     0.0     0.0  ...     3.0     4.5     3.5     3.0
910         5.0     4.0     3.5     3.5  ...     0.0     4.5     0.0     0.0

[5 rows x 1695 columns]

In [0]:
from scipy.sparse import csr_matrix

# we use sparse matrix to prevent overflow due to large number of zeroes
sparse_usermovie = csr_matrix(user_movie_mat)

In [226]:
from sklearn.neighbors import NearestNeighbors

# fitting on knn model
model = NearestNeighbors(n_neighbors=20, metric='cosine', algorithm='brute',n_jobs=-1)
model.fit(sparse_usermovie)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [0]:
num_movies = len(movies.movieId.unique())

# making a mapper for mapping movies and id
movies_list = movies['title']
nums = [int(x) for x in range(0,num_movies)]

zipobj = zip(movies_list, nums)
movie_to_idx= dict(zipobj)

In [0]:
# !pip install fuzzywuzzy
from fuzzywuzzy import fuzz

In [0]:
def make_recommendations(model_knn, data, mapper, fav_movie, n_recommendations):
    # fit
    model_knn.fit(data)
    # get input movie index
    print('input:', fav_movie)
    idx = similarity(mapper, fav_movie, verbose=True)
    
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    
    raw_recommends =  sorted(zip(indices.squeeze().tolist(), distances.squeeze().tolist()), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, {2}'.format(i+1, reverse_mapper[idx], dist))

In [0]:
def similarity(mapper, fav_movie, verbose=True):
   
    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_movie.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Possible recommendations: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]

In [231]:
user_input = 'jumanji'

# making recommendations for jumanji
make_recommendations(
    model_knn=model,
    data=sparse_usermovie,
    fav_movie=user_input,
    mapper=movie_to_idx,
    n_recommendations=5)

input: jumanji
Possible recommendations: ['Jumanji (1995)']

Recommendations for jumanji:
1: Free Willy 2: The Adventure Home (1995), 0.6242835138766227
2: Crying Game, The (1992), 0.6231949889414417
3: Bride of Frankenstein, The (Bride of Frankenstein) (1935), 0.6082168603867244
4: Richie Rich (1994), 0.5949544625690844
5: Stalker (1979), 0.5687955284695971

In [233]:
# making a pivot and filling NA values with average movie rating
avg_umt = pop_movs.pivot(index='userId', columns='movieId',values='rating')
avg_umt = avg_umt.fillna(avg_umt.mean(axis=0))
display(avg_umt)

movieId    1         2       3       ...    111759  112556   112852
userId                               ...
316      2.500000  3.070144    2.94  ...  3.851351     4.0  3.97973
320      3.790123  3.070144    2.94  ...  3.851351     4.0  3.97973
359      5.000000  3.070144    2.94  ...  3.851351     4.0  3.97973
370      4.500000  4.000000    2.94  ...  4.500000     3.5  3.00000
910      5.000000  4.000000    3.50  ...  4.500000     4.0  3.97973
...           ...       ...     ...  ...       ...     ...      ...
137446   3.790123  3.500000    2.94  ...  3.851351     4.0  3.97973
137559   3.500000  3.070144    2.94  ...  3.851351     4.0  3.97973
137805   4.000000  2.000000    2.94  ...  3.851351     4.0  4.00000
138072   3.000000  1.000000    1.00  ...  3.851351     4.0  3.97973
138200   3.000000  3.070144    2.94  ...  3.851351     4.0  3.97973

[753 rows x 1695 columns]

In [234]:
from sklearn.metrics.pairwise import cosine_similarity

#cosine similarity for getting similarity ratio between two users
cos_sim = cosine_similarity(avg_umt)
np.fill_diagonal(cos_sim, 0)
similarity = pd.DataFrame(cos_sim, index=avg_umt.index)
similarity.columns = avg_umt.index
similarity.head()

userId    316       320       359     ...    137805    138072    138200
userId                                ...
316     0.000000  0.997767  0.987902  ...  0.969193  0.976725  0.991946
320     0.997767  0.000000  0.988994  ...  0.970387  0.977538  0.992840
359     0.987902  0.988994  0.000000  ...  0.957867  0.965470  0.982447
370     0.985551  0.986944  0.978862  ...  0.956123  0.965183  0.980788
910     0.988378  0.989150  0.980412  ...  0.957641  0.965684  0.983011

[5 rows x 753 columns]

In [0]:
#function to get top N neighbours
def getNeighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [236]:
# finding top 10 similar users for every user
recomm = getNeighbours(similarity, 10)
recomm.head()

          top1    top2    top3    top4  ...    top7    top8    top9   top10
userId                                  ...
316      22338  121386  124936   88455  ...  103927   68702   96864   94676
320      22338  121386  124936   88455  ...  103927  114448   56392  119625
359     124936   22338   57474   17039  ...   88455   14833   75001  131616
370      17039   22338  123707   88455  ...   56392  100728  120308   57474
910     107991   22338   88455  124936  ...   17039   92106   43604  134316

[5 rows x 10 columns]

In [0]:
# finding similar movies between two users by combining their watched movies
def common_movs(u1, u2):
  user1 = pop_movs.loc[pop_movs['userId']==u1,'movieId']
  user2 = pop_movs.loc[pop_movs['userId']==u2,'movieId']
  common = pd.merge(user1, user2, how='inner', on='movieId').values.tolist()
  movs=[]
  for i in range(len(common)):
    movs.append(movies.loc[movies['movieId']==common[i][0],'title'])
  return movs

In [238]:
# common movies shared
print("common movies shared by these users are:\n")
print(common_movs(12882,90097))

common movies shared by these users are:

[42    Usual Suspects, The (1995)
Name: title, dtype: object, 76    Braveheart (1995)
Name: title, dtype: object, 89    Apollo 13 (1995)
Name: title, dtype: object, 157    Star Wars: Episode IV - A New Hope (1977)
Name: title, dtype: object, 189    Shawshank Redemption, The (1994)
Name: title, dtype: object, 213    Forrest Gump (1994)
Name: title, dtype: object, 839    Good Will Hunting (1997)
Name: title, dtype: object, 964    Saving Private Ryan (1998)
Name: title, dtype: object, 1065    Few Good Men, A (1992)
Name: title, dtype: object, 1210    Matrix, The (1999)
Name: title, dtype: object, 1227    Star Wars: Episode I - The Phantom Menace (1999)
Name: title, dtype: object, 1846    Ocean's Eleven (2001)
Name: title, dtype: object, 1854    Lord of the Rings: The Fellowship of the Ring,...
Name: title, dtype: object, 1907    Bourne Identity, The (2002)
Name: title, dtype: object, 1959    Lord of the Rings: The Two Towers, The (2002)
Name: title, dtype: object, 2018    Seabiscuit (2003)
Name: title, dtype: object, 2075    Lord of the Rings: The Return of the King, The...
Name: title, dtype: object, 2142    Bourne Supremacy, The (2004)
Name: title, dtype: object]